#roof1,#roof2{background-color:#fff;margin:auto;width:960px}
#roof1,#roof1 img,#roof2,#roof2 img{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
#roof-wrap1,#roof-wrap2{display:none}
#main-footer{height:177px}
#menu{max-width:100%;}
.container{padding-left:0!important;padding-right:0!important}